{% extends "machino/common.html" %}
{% block title %}
	<p class="text-center">Logistic Regression</p> 
{% endblock %}
{% block sidebar %}
 	{% if messages %}
	    {% for message in messages %}
	    <p class=" alert alert-{{ message.level_tag }} " role="alert"> {{ message.message|safe }} </p>
	    {% endfor %}
	{% endif %}
	{% if test_shape is not None%}
		<p class="small"><strong>Training data shape: </strong>{{train_shape|safe}}</p>
		<p class="small"><strong>Testing data shape: </strong>{{test_shape|safe}}</p>
	{% endif %}
	{% if classes %}
		<p class="small"><strong>Classes : </strong>{{classes}}</p>
	{% endif %}
	<div class="row m-2 p-1">
		<ul class="lh-sm fwt-italic">
			<h6>Read Before Uploading File</h6>
			<li>File Format: CSV</li>
			<li>Must be preprocessed</li>
			<li>Must not contain any NAN values</li>
			<li>Must not contain invalid values (Combination of numeric and non-numeric)</li>
			<li>Assumption: First n-1 columns are numeric and last column (output) can be either numeric or non-numeric </li>
	</div>
{% endblock %}

{% block input %}
	<div class="row m-2 p-1">
		<p class="fst-italic lh-sm"><strong>Note: </strong>This Logistic Regression models performs only Binary classification</p>
		<p class="fst-italic lh-sm"><strong>Important: </strong>For Boolean Datasets (And gate, Or gate, Nor Gate etc.) File name must end with <strong>Gate.csv</strong>(e.g. andGate.csv or boolean_Gate.csv etc.)<br>Annd Split Value won't be considered in this case</p>
	</div>

	<form action="" method="GET">
		<div class="input-group  mb-3">
			<span class="input-group-text">Datasets</span>
			<select class="form-select" name="filelist", id="filelist">
			{% for ds in datasets %}
				<option value="{{ds|safe}}">{{ds|safe}}</option>
			{% endfor %}
			</select>
		</div>
		<div class="input-group  mb-3">
			<span class="input-group-text">Split</span>
			<input type="number" class="form-control" id="split" min="1" max="100" name="split" required="True" value= {{split_value|safe}} step="1">
		</div>
		<div class="input-group  mb-3">
			<span class="input-group-text">Learning Rate</span>
			<input type="number" class="form-control" id="lrate" min="0" max="10" name="lrate" required="True" step=0.000001 value="{{learning_rate|safe}}">
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">Iterations</span>
			<input type="number" min="1" max="10000" id="iter" name="iter" class="form-control" required="True" step=1 value="{{iterations|safe}}">
		</div>
		<div class="col">
			<button class="btn btn-primary">Train</button> 
		</div>
	</form>
	<div class="row m-2 p-1">
		<ul style="text-align:justify;">
			<li>Default activation functions: Relu and Sigmoid respectively (recommended)</li>
			<li>Learning rate is decreasing as number of iterations increases. (for e.g. if steady learning rate = 0.1; total iterantions=100 then dynamic learning rate = 0.1/100</li>
	    </ul>
	</div>
{% endblock %}


{% block output %}
	{% if testing_accuracy %}
		<p><strong>Testing Accuracy: </strong>{{testing_accuracy|safe}}%</p>
	{% endif %}
	{% if training_accuracy %}
		<p><strong>Training Accuracy: </strong>{{training_accuracy|safe}}%</p>
	{% endif %}
	{% if cat_map %}
		<p><strong>Classes' Dictionary: </strong>{{cat_map|safe}}</p>
	{% endif %}
	{% if test_data %}
		<div class="row overflow-scroll m-3" style="max-width: 540px; max-height: 350px;">
			<table class="table table-light mx-1 table-striped small">
				<thead>
				</thead>
				<tbody>
					{% for i in test_data %}
						<tr>
							{% for val in i %}
								<td>{{val|safe}}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
{% endblock %}


{% block plot %}
	{% if decision %}
		<figure class="figure">
		 <img src="data:image/png;base64,{{decision|safe}}" class="figure-img img-fluid rounded" alt="...">
		</figure>
	{% endif %}
	{% if cost_graph %}
		<figure class="figure">
		 <img src="data:image/png;base64,{{cost_graph|safe}}" class="figure-img img-fluid rounded" alt="...">
		</figure>
	{% endif %}	
{% endblock %}

{% block confusion %}
	{% if confusion %}
		<figure class="figure">
		 <img src="data:image/png;base64,{{confusion|safe}}" class="figure-img img-fluid rounded" alt="Confusion Matrix">
		</figure>
	{% endif %}
	{% if stat %}
	<table class="table table-light table-striped">
		<thead>
			<th scope="col">Statistical Measure</th>
			<th scope="col">Value</th>
		</thead>
		<tbody>
			{% for meas,val in stat %}
			<tr>
				<th scope="row">{{meas|safe}}</th>
				<td>{{val|safe}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
{% endblock %}